<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Information</title>
</head>
<body>
<h1>Students</h1>
<table>
    <thead>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Test Score</th>
    </thead>
    {% for student in students %}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.testScore }}</td>
        <td><a href="/update/{{ student.id }}">update</a></td>
        <td><a href="/delete/{{ student.id }}">delete</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/create">Add Student</a>
<a href="accounts/logout">Logout</a>


</body>
</html>