<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>{{ heading }}</h1>
<div>
    <div>
                    <img src="{% static "images/"|add:image %}" alt="none">
{{ product1 }}</div>
    <div>
                    <img src="{% static "images/"|add:image %}" alt="none">
{{ product2 }}</div>
    <div>            <img src="{% static "images/"|add:image %}" alt="none">
{{ product3 }}</div>
            <img src="{% static "images/"|add:image %}" alt="none">

</div>
</body>
</html>